<p id="notice"><%= notice %></p>

<h2><%= link_to "chef Info", chef_restaurant_path %></h2>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</p>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Add Review', reviews_new_path(@restaurant) %> |
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
